<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h4>Pets app</h4>
    <ol>
      <% @pets.each do |pet| %>
        <li>
          <%= pet %>
        </li>
      <% end %>
    </ol>
  </body>
</html>
