<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h4>Pets app</h4>
   <a href="/new_pet">Crea tu nuevo pet</a>
    <ol>
      <% @pets.each_with_index do |pet, index| %>
        <li>
          <%= pet %> <a href="/edit_pet/<%=index%>">edita</a>
        </li>
      <% end %>
    </ol>
  </body>
</html>
